<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="__STATIC__/mobile/css/common.css"/>
		<link rel="stylesheet" type="text/css" href="__STATIC__/mobile/css/index.css"/>
		<link rel="stylesheet" type="text/css" href="__STATIC__/mobile/css/head.css"/>
		<script src="__STATIC__/mobile/js/jquery-1.7.1.min.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div class="head">
			<ul class="right">
				<li style="top: 1rem;" class="olia"></li>
<!--				<li style="top: 1.5rem;" class="olib"></li>
-->				<li style="top: 1.8rem;" class="olic"></li>
			</ul>
			<div class="left">
				<img src="__STATIC__/mobile/img/HSCT.png"/>
			</div>
		</div>
		
		<div class="menu">
			<ul>
				<li>
					<a href="{:url('index/index')}">首页</a>
				</li>
				<li>
					<a href="{:url('about/about')}">关于华仕</a>
				</li>
				<li>
					<a href="{:url('news/news')}">新闻动态</a>
				</li>
				<li>
					<a href="{:url('jishu/jishu')}">技术领域</a>
				</li>
				<li>
					<a href="{:url('yeji/yeji')}">公司业绩</a>
				</li>
				<li>
					<a href="{:url('job/job')}">诚聘英才</a>
				</li>
				<li>
					<a href="{:url('contact/contact')}">联系我们</a>
				</li>
			</ul>
		</div>