<title>华仕集团</title>

{include file="base/head"}
<!-- 导航 -->
	<div class="bighead">
		<div style="width: 100%;border-bottom: 1px solid #f2f2f2;">
			<div class="left">
				<img src="__STATIC__/index/img/HSCT.png"/>
				<div class="lang" style="width: 100px;float: right;line-height: 54px;">
					<img src="__STATIC__/index/img/earth.png"/>
					<span style="font-size: 14px;">请选择语言</span>
				</div>
			</div>
	 	</div>
		<div class="head">
		 	<ul class="olist">
		 		<li><a href="{:url('index/index')}">首页</a></li>
		 		<li class="foca"><a href="{:url('about/about')}">关于华仕</a></li>
		 		<li><a href="{:url('news/news')}">新闻动态</a></li>
		 		<li><a href="{:url('jishu/jishu')}">集团业务</a></li>
		 		<li><a href="{:url('yeji/yeji')}">社会责任</a></li>
		 		<li><a href="{:url('job/job')}">人才理念</a></li>
		 		<li><a href="{:url('contact/contact')}">联系我们</a></li>
		 		<li><a href="http://112.2.7.76:8098">办公OA</a></li>
		 	</ul>
		 </div>   
	</div>

		<div class="tat">
			<img src="__STATIC__/index/img/about.jpg"/>
		</div>
		<div class="sit">
			<p>您的位置：<a href="{:url('index/index')}">首页</a> > <a href="{:url('about/about')}">关于华仕</a></p>
		</div>
		<div class="title">
			<p class="china">关于我们</p>
			<p class="eng">ABOUT US</p>
			<P class="bor"></P>
		</div>
		<div class="center">
			<div class="left_c">
				<img src="{$about.img2}"/>
				<p>{$about.img_title}</p>
			</div>
			<div class="right_c">
				{$about.intro}
			</div>
			<div class="bot_c">
				<!-- <p>
					山西华仕低碳技术研究院有限公司（高新技术企业）、南京博纳能源科技有限公司（高新技术企业）、山西华仕创业投资有限公司、山西南工华仕环境科技有限公司、
					山西正和热电工程有限公司南京分公司、北京华仕环保设备有限公司，
				</p> -->
				{$about.company}
			</div>
		</div>
		<div class="culture">
			<p class="title">企业文化</p>
			{$about.culture}
		</div>
		{include file="base/foot"}
	</body>
</html>
