
		<title>公司业绩</title>
		{include file="base/head"}
		<div class="abouts">
			<img src="__STATIC__/mobile/img/abouts.jpg"/>
		</div>
		
		<div class="title">
			<p class="chinese_tit">公司业绩</p>
			<p class="eng_tit">COMPANY ACHIEVEMENTS</p>
		</div>
		<div class="type">
			{volist name="type" id="v"}
			<a href="{:url('yeji/yeji',['id'=>$v['id']])}" class="<?php if($v['id']==$cat_id){echo "focus";} ?>">{$v.name}</a>
			{/volist}
		</div>
		<script>
			$(function(){
				//alert(window.location);
				if(String(window.location).indexOf("id") <= 0){
					$(".type a").eq(0).addClass('focus');
				}
			})
			
		</script>
		<ul class="news">
			{volist name="articles" id="v"}
			<li>
				<a href="{:url('yeji/detail',['id'=>$v['id']])}">
					<div class="oimg">
						<img src="{$v.img}"/>
					</div>
					<div class="opxt">
						<p class="newtit">{$v.title}</p>
						<p class="newdet"><?php echo subtext(strip_tags( $v['content']),32);?></p>
					</div>
				</a>
			</li>
			{/volist}
		</ul>
		{$articles->render()}

		{include file="base/foot"}
	</body>
</html>
