

		<title>关于华仕</title>
		{include file="base/head"}

		<div class="abouts">
			<img src="__STATIC__/mobile/img/abouts.jpg"/>
		</div>
		
		<div class="title">
			<p class="chinese_tit">关于我们</p>
			<p class="eng_tit">ABOUT US</p>
		</div>
		<div class="pp">
			{$about.intro}
     			<img src="{$about.img2}"/>
     		</p>
     		<p style="text-align: center;margin-bottom: 1rem;">{$about.img_title}</p>
     		<p>{$about.company}</p>
		</div>
		<div class="culture">

			<p style="font-size: 1.1rem;font-weight: 600;">企业文化</p>
			{$about.culture}
			<!-- <p><span>华仕愿景</span><span> 成为国内环保行业领先者</span></p>
			
			<p><span>企业精神</span><span> 创领前沿科技，聚合高端智造</span></p>
				
			<p><span>核心价值 </span><span>团结，求实，创新，奋进</span></p>
			<p><span>经营守则</span><span>守信，优质，互利</span></p>
			
			<p><span>服务承诺</span><span>换位思考，用心服务，超越客户期望</span></p>
				
			<p><span>社会责任 </span><span>为祖国蓝天碧水贡献力量</span></p> -->
		</div>
		
		{include file="base/foot"}
	</body>
</html>
